In [4]:
import pandas as pd
import numpy as np

hrs = pd.read_csv("life_expectancy_CleanedHRSdata.csv")
pd.set_option('display.max_columns', None)

print(f'Shape of data: {hrs.shape} \n \n Columns of data: {hrs.columns}')
hrs

Shape of data: (4711, 55)

 Columns of data: Index(['Unnamed: 0', 'hhidpn', 'wave', 'mstat', 'cendiv', 'gender', 'rahispan',
       'raracem', 'iwbeg', 'dage_m', 'dage_y', 'raedyrs', 'rarelig', 'ravetrn',
       'agey_m', 'shlt', 'shltc', 'depres', 'effort', 'sleepr', 'cesd', 'bmi',
       'smokev', 'smoken', 'drinkn', 'hibp', 'diab', 'cancr', 'lung', 'heart',
       'strok', 'psych', 'arthr', 'conde', 'cogtot', 'slfmem', 'pstmem',
       'spcfac', 'hsptim', 'puff', 'puffpos', 'timwlk', 'hatotb', 'iearn',
       'isret', 'covs', 'hiltc', 'lbrf', 'logiearn', 'logisret', 'loghspti',
       'loghatotb', 'id', 'nt', 'n2'],
      dtype='object')

,Unnamed: 0,hhidpn,wave,mstat,cendiv,gender,rahispan,raracem,iwbeg,dage_m,dage_y,raedyrs,rarelig,ravetrn,agey_m,shlt,shltc,depres,effort,sleepr,cesd,bmi,smokev,smoken,drinkn,hibp,diab,cancr,lung,heart,strok,psych,arthr,conde,cogtot,slfmem,pstmem,spcfac,hsptim,puff,puffpos,timwlk,hatotb,iearn,isret,covs,hiltc,lbrf,logiearn,logisret,loghspti,loghatotb,id,nt,n2
0,1,3010,3,1.married,9.pacific,1.male,0.not hispanic,1.white/caucasian,13345,931,77,12,1.protestant,0.no,60,3.good,-1,1.yes,1.yes,1.yes,3,28.000000,0.no,0.no,1,0.no,0.no,0.no,0.no,1.yes,0.no,0.no,0.no,1,35,4.fair,2.same,0.no,0,NaN,NaN,NaN,490500.0,4000.0,0.0,1.yes,1.yes,4.partly retired,8.294049,0.000000,0.0,13.103181,2,123702,7
1,2,3010,6,1.married,9.pacific,1.male,0.not hispanic,1.white/caucasian,15445,931,77,12,1.protestant,0.no,66,3.good,-1,0.no,0.no,0.no,1,28.299999,0.no,0.no,0,0.no,0.no,0.no,0.no,1.yes,0.no,0.no,0.no,1,31,3.good,2.same,0.no,0,NaN,NaN,NaN,704000.0,10000.0,13728.0,0.no,1.yes,4.partly retired,9.210340,9.527193,0.0,13.464534,3,123702,7
2,3,3010,7,1.married,9.pacific,1.male,0.not hispanic,1.white/caucasian,16267,931,77,12,1.protestant,0.no,68,3.good,0,0.no,0.no,0.no,0,26.600000,0.no,0.no,0,0.no,0.no,0.no,0.no,1.yes,0.no,0.no,0.no,1,18,3.good,2.same,0.no,0,NaN,NaN,NaN,756000.0,6000.0,15600.0,0.no,1.yes,4.partly retired,8.699514,9.655026,0.0,13.535797,4,123702,7
3,4,3010,8,1.married,9.pacific,1.male,0.not hispanic,1.white/caucasian,16875,931,77,12,1.protestant,0.no,70,3.good,0,0.no,0.no,0.no,0,27.100000,0.no,0.no,0,0.no,0.no,0.no,0.no,1.yes,0.no,0.no,0.no,1,20,4.fair,2.same,0.no,0,490.0,1.standing,2.78,914000.0,0.0,14040.0,0.no,1.yes,5.retired,0.000000,9.549665,0.0,13.725586,5,123702,7
4,6,3010,10,1.married,9.pacific,1.male,0.not hispanic,1.white/caucasian,18520,931,77,12,1.protestant,0.no,74,3.good,0,0.no,0.no,0.no,0,24.000000,0.no,0.no,0,0.no,0.no,0.no,0.no,1.yes,0.no,0.no,0.no,1,17,4.fair,3.worse,0.no,0,330.0,1.standing,3.10,1240000.0,0.0,16644.0,0.no,1.yes,5.retired,0.000000,9.719805,0.0,14.030622,7,123702,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4706,13126,213435010,4,7.widowed,5.s atlantic,2.female,0.not hispanic,1.white/caucasian,14045,1082,90,12,2.catholic,0.no,74,3.good,.p,0.no,0.no,0.no,0,24.900000,1.yes,0.no,2,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,0.no,1,24,3.good,2.same,0.no,0,NaN,NaN,NaN,87000.0,0.0,8856.0,0.no,1.yes,5.retired,0.000000,9.088850,0.0,11.373663,107639,123702,7
4707,13127,213435010,5,7.widowed,5.s atlantic,2.female,0.not hispanic,1.white/caucasian,14715,1082,90,12,2.catholic,0.no,75,3.good,0,0.no,0.no,0.no,0,25.700001,1.yes,0.no,2,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,0.no,1,24,3.good,2.same,0.no,0,NaN,NaN,NaN,90000.0,0.0,8400.0,0.no,1.yes,5.retired,0.000000,9.035987,0.0,11.407565,107640,123702,7
4708,13128,213435010,6,7.widowed,5.s atlantic,2.female,0.not hispanic,1.white/caucasian,15475,1082,90,12,2.catholic,0.no,78,3.good,0,0.no,0.no,0.no,0,27.100000,1.yes,0.no,2,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,0.no,1,23,3.good,3.worse,0.no,1,NaN,NaN,NaN,84750.0,0.0,9600.0,0.no,1.yes,5.retired,0.000000,9.169519,0.0,11.347461,107641,123702,7
4709,13129,213435010,7,7.widowed,5.s atlantic,2.female,0.not hispanic,1.white/caucasian,16206,1082,90,12,2.catholic,0.no,80,3.good,0,0.no,0.no,0.no,0,25.400000,1.yes,0.no,3,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,1.yes,2,25,3.good,3.worse,0.no,1,NaN,NaN,NaN,111000.0,0.0,9912.0,0.no,1.yes,5.retired,0.000000,9.201502,0.0,11.617286,107642,123702,7
4710,13131,213435010,9,7.widowed,5.s atlantic,2.female,0.not hispanic,1.white/caucasian,17637,1082,90,12,2.catholic,0.no,83,3.good,0,0.no,0.no,0.no,1,24.900000,1.yes,0.no,3,1.yes,0.no,0.no,0.no,0.no,0.no,1.yes,1.yes,3,21,4.fair,3.worse,0.no,0,160.0,1.standing,4.16,18464.0,0.0,10200.0,0.no,1.yes,5.retired,0.000000,9.230143,0.0,9.823578,107644,123702,7

In [2]:
### These are functions from the raw_data_processing.ipynb
def standardize_dataframe(df, numerical_columns, exclude_columns):
    """
    A function to standardize specified numerical values in a DataFrame using z-score normalization,
    excluding specified columns.
    
    Parameters:
        df (pandas DataFrame): The input DataFrame.
        numerical_columns (list): A list of numerical column names to standardize.
        exclude_columns (list): A list of column names to exclude from standardization.
        
    Returns:
        pandas DataFrame: A DataFrame with standardized numerical values.
    """
    # Exclude columns specified in exclude_columns
    columns_to_standardize = [col for col in numerical_columns if col not in exclude_columns]
    
    # Initialize the StandardScaler
    scaler = StandardScaler()
    
    # Fit the scaler to the selected columns and transform the values
    standardized_values = scaler.fit_transform(df[columns_to_standardize])
    
    # Create a new DataFrame with the standardized values and the same index and columns as the original DataFrame
    standardized_df = pd.DataFrame(standardized_values, index=df.index, columns=columns_to_standardize)
    
    # Combine the standardized numerical columns with non-numerical columns from the original DataFrame
    for col in df.columns:
        if col not in columns_to_standardize:
            standardized_df[col] = df[col]
    
    return standardized_df

def encode_categorical(df, categorical_vars):
    """
    A function to perform one-hot encoding for categorical variables in a DataFrame.
    
    Parameters:
        df (pandas DataFrame): The input DataFrame.
        categorical_columns (list): A list of column names containing categorical variables to be one-hot encoded.
        
    Returns:
        pandas DataFrame: A DataFrame with one-hot encoded categorical variables.
    """
    print(f"encodable categorical vars: {categorical_vars}")
    
    # Convert numeric categorical variables to categorical type
    for col in categorical_vars:
        df[col] = df[col].astype('category')
        
    # Extract categorical variables
    categorical_df = df[categorical_vars]
    
    # Perform one-hot encoding for categorical variables, drop first ensures there is no multicolinearity
    result = pd.get_dummies(categorical_df, dtype=float, drop_first=True)
    
    return result

def replace_encoded_categorical(df, encoded_categorical_df, categorical_columns):
    """
    A function to replace original categorical columns in a DataFrame with one-hot encoded columns.
    
    Parameters:
        df (pandas DataFrame): The original DataFrame.
        encoded_categorical_df (pandas DataFrame): The DataFrame with one-hot encoded categorical variables.
        categorical_columns (list): A list of column names containing original categorical variables.
        
    Returns:
        pandas DataFrame: A DataFrame with original categorical columns replaced by one-hot encoded columns.
    """
    # Drop original categorical columns from the original DataFrame
    df = df.drop(columns=categorical_columns)
    
    # Concatenate the original DataFrame with the one-hot encoded DataFrame
    df = pd.concat([df, encoded_categorical_df], axis=1)
    return df

In [3]:
#columns_to_drop = ['Unnamed: 0', 'nt','n2','dage_y', 'rarelig']
columns_to_drop = ['Unnamed: 0', 'nt','n2','dage_y', 'rarelig']
hrs_cleaned = hrs.drop(columns=columns_to_drop, errors='ignore')
    # Replace empty strings with NaN to handle both empty strings and NaN values uniformly
hrs_cleaned = hrs_cleaned.replace('', np.nan)
    
    # Drop rows with any NaN values
hrs_cleaned = hrs_cleaned.dropna()
def random_sample_per_group(df, group_col):
    """
    Randomly selects one observation per group from a DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame to sample from.
    group_col (str): The name of the column to group by.

    Returns:
    pd.DataFrame: A DataFrame with one randomly selected row per group.
    """
    # Group by the specified column and apply the sampling
    return df.groupby(group_col).apply(lambda x: x.sample(1)).reset_index(drop=True)

def is_categorical(df):
    """
    Determines which columns in a DataFrame are categorical based on data type being a string.
    
    Parameters:
        df (pandas DataFrame): The DataFrame to check.
        
    Returns:
        list: A list of column names that are considered categorical because they are of string type.
    """
    categorical_vars = [col for col in df.columns if df[col].dtype == 'object']
    return categorical_vars

# Determine categorical columns
categorical_columns = is_categorical(hrs_cleaned)  # Adjust threshold as necessary
print("Categorical columns:", categorical_columns)
# To remove columns
categorical_columns = [col for col in categorical_columns if col not in ['raedyrs']]
# Encode categorical variables
encoded_df = encode_categorical(hrs_cleaned.copy(), categorical_columns)

# Replace original categorical columns with encoded ones
final_df = replace_encoded_categorical(hrs_cleaned, encoded_df, categorical_columns)

# Convert all values to integers, setting '17.17+ yrs' specifically to 17
final_df['raedyrs'] = final_df['raedyrs'].replace('17.17+ yrs', '17').astype(int)

# Create a binary indicator for whether the education years are 17 and above
final_df['raedyrs_17plus'] = (final_df['raedyrs'] >= 17).astype(int)

# Check to make sure each "hhidpn" appears only once
def random_sample_per_group(df, group_col):
    """
    Randomly selects one observation per group from a DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame to sample from.
    group_col (str): The name of the column to group by.

    Returns:
    pd.DataFrame: A DataFrame with one randomly selected row per group.
    """
    # Group by the specified column and apply the sampling
    return df.groupby(group_col).apply(lambda x: x.sample(1)).reset_index(drop=True)

# Randomly sample one observation per individual
final_df = random_sample_per_group(final_df, 'hhidpn')

# Check to make sure each "hhidpn" appears only once
def check_unique_hhidpn(sampled_df, group_col):
    """
    Checks if each group identifier appears only once in the DataFrame.

    Parameters:
    sampled_df (pd.DataFrame): The DataFrame to check.
    group_col (str): The name of the column to group by.
    """
    if sampled_df[group_col].duplicated().any():
        print("Some hhidpn values appear more than once.")
    else:
        print("Each hhidpn value appears only once.")

# Perform the check
check_unique_hhidpn(final_df, 'hhidpn')

columns_to_drop = ['hhidpn', 'iwbeg', 'id']
final_df = final_df.drop(columns=columns_to_drop, errors='ignore')


# Shuffle the columns randomly
shuffled_columns = np.random.permutation(final_df.columns)

# Split the columns approximately in half
midpoint = len(shuffled_columns) // 2
first_half_columns = shuffled_columns[:midpoint]
second_half_columns = shuffled_columns[midpoint:]

# Create two new DataFrames based on these split columns
df_first_half = final_df[first_half_columns]
df_second_half = final_df[second_half_columns]

# Print out the columns to verify
print("First half columns:", df_first_half.columns)
print("Second half columns:", df_second_half.columns)

Categorical columns: ['mstat', 'cendiv', 'gender', 'rahispan', 'raracem', 'raedyrs', 'ravetrn', 'shlt', 'shltc', 'depres', 'effort', 'sleepr', 'smokev', 'smoken', 'hibp', 'diab', 'cancr', 'lung', 'heart', 'strok', 'psych', 'arthr', 'slfmem', 'pstmem', 'spcfac', 'puffpos', 'covs', 'hiltc', 'lbrf']
encodable categorical vars: ['mstat', 'cendiv', 'gender', 'rahispan', 'raracem', 'ravetrn', 'shlt', 'shltc', 'depres', 'effort', 'sleepr', 'smokev', 'smoken', 'hibp', 'diab', 'cancr', 'lung', 'heart', 'strok', 'psych', 'arthr', 'slfmem', 'pstmem', 'spcfac', 'puffpos', 'covs', 'hiltc', 'lbrf']
Each hhidpn value appears only once.
First half columns: Index(['shlt_2.very good', 'gender_2.female', 'raedyrs', 'lbrf_3.unemployed',
       'sleepr_1.yes', 'shlt_3.good', 'hibp_1.yes', 'wave', 'slfmem_4.fair',
       'mstat_2.married,spouse absent', 'depres_1.yes', 'cendiv_3.en central',
       'mstat_4.separated', 'covs_1.yes', 'loghatotb', 'conde', 'dage_m',
       'raracem_3.other', 'shlt_5.poor', 'puffpos_2.sitting',
       'cendiv_2.mid atlantic', 'arthr_1.yes', 'shltc_0',
       'heart_4.disp prev record and no cond', 'pstmem_2.same', 'smoken_1.yes',
       'cancr_1.yes', 'mstat_3.partnered', 'psych_1.yes',
       'cendiv_6.es central', 'spcfac_1.yes', 'shltc_4', 'loghspti',
       'shltc_-2', 'hiltc_1.yes', 'cendiv_4.wn central',
       'lbrf_4.partly retired', 'smokev_1.yes', 'cendiv_8.mountain', 'iearn',
       'spcfac_0.no', 'lung_4.disp prev record and no cond', 'raedyrs_17plus',
       'mstat_8.never married'],
      dtype='object')
Second half columns: Index(['shlt_4.fair', 'slfmem_2.very good',
       'arthr_4.disp prev record and no cond', 'lbrf_5.retired', 'logisret',
       'drinkn', 'shltc_-3', 'mstat_5.divorced', 'timwlk', 'diab_1.yes',
       'shltc_-4', 'logiearn', 'lbrf_6.disabled', 'cogtot',
       'strok_4.disp prev record and no cond', 'shltc_3', 'agey_m',
       'pstmem_3.worse', 'slfmem_3.good', 'rahispan_1.hispanic',
       'psych_4.disp prev record and no cond', 'bmi',
       'raracem_2.black/african american', 'cesd', 'shltc_1', 'strok_1.yes',
       'cendiv_7.ws central', 'puff', 'lbrf_2.works pt', 'covs_0.no',
       'heart_1.yes', 'mstat_7.widowed', 'ravetrn_1.yes', 'hsptim',
       'cendiv_9.pacific', 'lung_1.yes', 'effort_1.yes', 'lbrf_7.not in lbrf',
       'cendiv_5.s atlantic', 'slfmem_5.poor', 'isret',
       'strok_2.tia/possible stroke', 'shltc_2', 'hiltc_0.no', 'hatotb'],
      dtype='object')